{% set slug = regex_replace(page.rawTitle, "[^a-zA-Z0-9]+", "-") %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href='{{ url("/styles.css?v=1#main") }}'>
  </head>
  <body data-page="{{ page.permalink }}">
    <img src='{{ url("/images/logo.svg") }}' alt="Logo">
    <nav>
      <a data-link="root" href='{{ url("/") }}'>Root</a>
      <a data-link="docs" href='{{ url("/docs/") }}'>Docs</a>
      <a data-link="self" href="{{ url(page.permalink) }}">Self</a>
    </nav>
    <p data-slug="{{ slug }}">
      {{ regex_replace("World Hello", "(\\w+) (\\w+)", "$2 $1") }}
    </p>
    <p data-encoded='{{ "hello"|base64_encode }}'>
      {{ "aGVsbG8="|base64_decode }}
    </p>
  </body>
</html>
