{% import "templates/ui.j2" shared_label %}
<section class="component-panel">
  {{ shared_label("Component macro", "component") }}
  {% include "templates/shared.j2" %}
  <div class="component-slot">{{ props.content }}</div>
</section>
