<!DOCTYPE html>
<html lang="en">
  <body>
    <header>Theme brand: {{ data.brand.name }}</header>
    <main>{{ page.content }}</main>
    <footer>Project: {{ data.site.title }}</footer>
  </body>
</html>
